* {
  color: hsl(233, 8%, 62%);
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;

  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 98%);
}
.navbar {
  position: sticky;
  background-color: white;
  top: 0;
  height: 100px;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  column-gap: 3rem;
  list-style: none;
  align-items: center;
  z-index: 100;
}
.fonts {
  display: flex;
  font-size: 18px;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
}
.fonts div {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonts div:hover {
  border-bottom: 5px solid hsl(136, 65%, 51%);
}
a {
  color: hsl(233, 8%, 62%);
  text-decoration: none;
}
.button button {
  border-radius: 6rem;
  width: 10rem;
  height: 3rem;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border: none;
  font-weight: 700;
  color: white;
}
.button :hover {
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: 5fr 6fr;
  height: 800px;
  z-index: 1;
}
.image {
  overflow: hidden;
}
.image svg {
  position: relative;
  top: -262px;
  left: -29px;
}
.image img {
  position: relative;
  top: -1163px;
  left: 190px;
  z-index: 4;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 150px 0 0 150px;
}
.content p {
  color: hsl(233, 8%, 62%);
  display: flex;
}
.content span {
  color: black;
  font-size: 2.3em;
}
.bg2 {
  box-sizing: border-box;
  position: absolute;
  top: 100vh;
  z-index: 3;
  height: 90vh;
  overflow: hidden;

  background-color: hsl(220, 16%, 96%);
}
.container2 {
  display: flex;
  margin: 0 150px;
  flex-direction: column;
  align-items: start;
}

.container2 span {
  font-size: 2.3em;
  color: black;
}
.content2 {
  box-sizing: border-box;
  position: relative;
  top: 105px;
}
.cards {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.box {
  padding: 1rem;
}
.box span {
  font-size: larger;
  color: black;
}
.bg3 {
  position: absolute;
  top: 200vh;
  height: 100vh;
}
.container3 span {
  position: relative;
  top: 60px;
  font-size: 2.3em;
  color: black;
}
.container3 {
  margin: 0 150px;
  display: flex;
  flex-direction: column;
}
.grid2 {
  position: relative;
  top: 68px;
  height: 70vh;
  gap: 1.5rem;
  display: grid;
  align-self: normal;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  border-radius: 10px;
  justify-content: center;
  align-self: normal;
  overflow: hidden;
  margin-top: 4rem;
  background-color: white;
}
.imagecard {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
}
.imagecard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.subtitle {
  position: relative;
  left: 0;
  font-size: 0.7rem;
}
.inside {
  margin: 2rem;
}
.middle {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}
.middle:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
.small {
  font-size: 0.9rem;
}

.footer {
  height: 30vh;
  position: absolute;
  top: 300vh;
  background-color: hsl(233, 26%, 24%);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logosvg {
  height: 20px;
  width: 139px;
  position: relative;
  top: 30px;
}
path#logoicon {
  background: none;
  fill: white;
}
path#social :hover {
  fill: hsl(136, 65%, 51%);
  cursor: pointer;
}
.socialbox :hover {
  fill: hsl(136, 65%, 51%);
  cursor: pointer;
}
.socialbox {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.list p {
  margin-bottom: 1rem;
  color: hsl(220, 16%, 96%);
}
.list :hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
.list {
  margin-top: 2rem;
  margin-left: 12rem;
  color: hsl(233, 8%, 62%);
}

.button1 {
  margin-top: 2rem;
  margin-left: 20rem;
}
.button1 :hover {
  cursor: pointer;
}
.button1 p {
  margin-top: 1.5rem;
  color: hsl(233, 8%, 62%);
}
.button1 button {
  border-radius: 6rem;
  width: 10rem;
  height: 3rem;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border: none;
  font-weight: 700;
  color: white;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}
